<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357672115757-5lsc0pamcofa1lgi4i2ru9cjdaol60n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357672115757-5lsc0pamcofa1lgi4i2ru9cjdaol60n1</string>
	<key>API_KEY</key>
	<string>AIzaSyCP_FQmqyrBiDA0pLoD9QK2mufOURWjLys</string>
	<key>GCM_SENDER_ID</key>
	<string>357672115757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyBridge</string>
	<key>PROJECT_ID</key>
	<string>phone-authentication-5e61d</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-authentication-5e61d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357672115757:ios:a5176cadc56bfbdf91a2a4</string>
</dict>
</plist>